UPC.SisTictecks/UPC.SisTictecks.Web/Service References/GestionCitasWS/GestionCitasService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:16005/GestionCitasService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" />
  <xs:element name="CrearCita">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" minOccurs="0" name="citaCrear" nillable="true" type="q1:CitaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearCitaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" minOccurs="0" name="CrearCitaResult" nillable="true" type="q2:CitaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCita">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCitaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" minOccurs="0" name="ObtenerCitaResult" nillable="true" type="q3:CitaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarCita">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" minOccurs="0" name="citaModificar" nillable="true" type="q4:CitaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarCitaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" minOccurs="0" name="ModificarCitaResult" nillable="true" type="q5:CitaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCita">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCitaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarCitaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCitas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCitasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" minOccurs="0" name="ListarCitasResult" nillable="true" type="q6:ArrayOfCitaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarFechaHoraCitaXTaller">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="horaIni" type="xs:dateTime" />
        <xs:element minOccurs="0" name="horaFin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="idTaller" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarFechaHoraCitaXTallerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarFechaHoraCitaXTallerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCitasPendientesDeAtencion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCitasPendientesDeAtencionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" minOccurs="0" name="ListarCitasPendientesDeAtencionResult" nillable="true" type="q7:ArrayOfCitaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarHistorialDeCitas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarHistorialDeCitasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" minOccurs="0" name="ListarHistorialDeCitasResult" nillable="true" type="q8:ArrayOfCitaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DarAltaCita">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" minOccurs="0" name="citaAlta" nillable="true" type="q9:CitaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DarAltaCitaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" minOccurs="0" name="DarAltaCitaResult" nillable="true" type="q10:CitaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DarBajaCita">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" minOccurs="0" name="citaBaja" nillable="true" type="q11:CitaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DarBajaCitaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" minOccurs="0" name="DarBajaCitaResult" nillable="true" type="q12:CitaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>