UPC.SisTictecks/UPC.SisTictecks.TestWS/Service References/ServiciosWS/Servicios1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:16005/Servicios.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" />
  <xs:element name="CrearServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="valor" type="xs:decimal" />
        <xs:element minOccurs="0" name="estado" type="xs:boolean" />
        <xs:element minOccurs="0" name="tiempoEstimadoHH" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" minOccurs="0" name="CrearServicioResult" nillable="true" type="q1:ServicioEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" minOccurs="0" name="ObtenerServicioResult" nillable="true" type="q2:ServicioEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="valor" type="xs:decimal" />
        <xs:element minOccurs="0" name="estado" type="xs:boolean" />
        <xs:element minOccurs="0" name="tiempoEstimadoHH" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" minOccurs="0" name="ModificarServicioResult" nillable="true" type="q3:ServicioEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarServicioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarServicios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarServiciosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" minOccurs="0" name="ListarServiciosResult" nillable="true" type="q4:ArrayOfServicioEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>