UPC.SisTictecks/UPC.SisTictecks.TestWS/Service References/ServiciosWS/ServicioService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfServicioEN">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServicioEN" nillable="true" type="tns:ServicioEN" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServicioEN" nillable="true" type="tns:ArrayOfServicioEN" />
  <xs:complexType name="ServicioEN">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="TiempoEstimado" type="xs:int" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServicioEN" nillable="true" type="tns:ServicioEN" />
  <xs:complexType name="RepetidoException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RepetidoException" nillable="true" type="tns:RepetidoException" />
</xs:schema>