UPC.SisTictecks/UPC.SisTictecks.Web/Service References/VehiculoWS/VehiculoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:16005/VehiculoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" />
  <xs:element name="CrearVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" minOccurs="0" name="vehiculoCrear" nillable="true" type="q1:VehiculoEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" minOccurs="0" name="CrearVehiculoResult" nillable="true" type="q2:VehiculoEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" minOccurs="0" name="ObtenerVehiculoResult" nillable="true" type="q3:VehiculoEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" minOccurs="0" name="vehiculoModificar" nillable="true" type="q4:VehiculoEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" minOccurs="0" name="ModificarVehiculoResult" nillable="true" type="q5:VehiculoEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarVehiculoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarVehiculos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarVehiculosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" minOccurs="0" name="ListarVehiculosResult" nillable="true" type="q6:ArrayOfVehiculoEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarVehiculosPorUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarVehiculosPorUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" minOccurs="0" name="ListarVehiculosPorUsuarioResult" nillable="true" type="q7:ArrayOfVehiculoEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarPlacaExistente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strPlaca" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarPlacaExistenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarPlacaExistenteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarKMMenorAnterior">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kilometros" type="xs:int" />
        <xs:element minOccurs="0" name="idVehiculo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarKMMenorAnteriorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarKMMenorAnteriorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMarcas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMarcasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" minOccurs="0" name="ListarMarcasResult" nillable="true" type="q8:ArrayOfMarcaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMarca">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMarcaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" minOccurs="0" name="ObtenerMarcaResult" nillable="true" type="q9:MarcaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarModelos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarModelosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" minOccurs="0" name="ListarModelosResult" nillable="true" type="q10:ArrayOfModeloEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarModelosXMarca">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" minOccurs="0" name="marca" nillable="true" type="q11:MarcaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarModelosXMarcaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" minOccurs="0" name="ListarModelosXMarcaResult" nillable="true" type="q12:ArrayOfModeloEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerModelo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerModeloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" minOccurs="0" name="ObtenerModeloResult" nillable="true" type="q13:ModeloEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarColores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarColoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" minOccurs="0" name="ListarColoresResult" nillable="true" type="q14:ArrayOfColorEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerColor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerColorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" minOccurs="0" name="ObtenerColorResult" nillable="true" type="q15:ColorEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>