UPC.SisTictecks/UPC.SisTictecks.Web/Service References/VehiculoWS/VehiculoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VehiculoEN">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anio" type="xs:int" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="tns:ColorEN" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kilometros" type="xs:int" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="tns:MarcaEN" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="tns:ModeloEN" />
      <xs:element minOccurs="0" name="Placa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:UsuarioEN" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VehiculoEN" nillable="true" type="tns:VehiculoEN" />
  <xs:complexType name="ColorEN">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColorEN" nillable="true" type="tns:ColorEN" />
  <xs:complexType name="MarcaEN">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarcaEN" nillable="true" type="tns:MarcaEN" />
  <xs:complexType name="ModeloEN">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="tns:MarcaEN" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModeloEN" nillable="true" type="tns:ModeloEN" />
  <xs:complexType name="UsuarioEN">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dni" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Perfil" nillable="true" type="tns:PerfilEN" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="login" nillable="true" type="tns:Login" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioEN" nillable="true" type="tns:UsuarioEN" />
  <xs:complexType name="PerfilEN">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PerfilEN" nillable="true" type="tns:PerfilEN" />
  <xs:complexType name="Login">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Login" nillable="true" type="tns:Login" />
  <xs:complexType name="RepetidoException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RepetidoException" nillable="true" type="tns:RepetidoException" />
  <xs:complexType name="ArrayOfVehiculoEN">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VehiculoEN" nillable="true" type="tns:VehiculoEN" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehiculoEN" nillable="true" type="tns:ArrayOfVehiculoEN" />
  <xs:complexType name="ArrayOfMarcaEN">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MarcaEN" nillable="true" type="tns:MarcaEN" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMarcaEN" nillable="true" type="tns:ArrayOfMarcaEN" />
  <xs:complexType name="ArrayOfModeloEN">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModeloEN" nillable="true" type="tns:ModeloEN" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModeloEN" nillable="true" type="tns:ArrayOfModeloEN" />
  <xs:complexType name="ArrayOfColorEN">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ColorEN" nillable="true" type="tns:ColorEN" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColorEN" nillable="true" type="tns:ArrayOfColorEN" />
</xs:schema>