UPC.SisTictecks/UPC.SisTictecks.TestWS/Service References/ParametrosWS/ParametrosService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ParametrosService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:16005/ParametrosService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:16005/ParametrosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" />
      <xsd:import schemaLocation="http://localhost:16005/ParametrosService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IParametrosService_ListarServicios_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarServicios" />
  </wsdl:message>
  <wsdl:message name="IParametrosService_ListarServicios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarServiciosResponse" />
  </wsdl:message>
  <wsdl:message name="IParametrosService_ListarServicios_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" name="detail" element="q1:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="IParametrosService_ObtenerServicio_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerServicio" />
  </wsdl:message>
  <wsdl:message name="IParametrosService_ObtenerServicio_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerServicioResponse" />
  </wsdl:message>
  <wsdl:message name="IParametrosService_ObtenerServicio_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" name="detail" element="q2:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="IParametrosService_ListarTalleres_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTalleres" />
  </wsdl:message>
  <wsdl:message name="IParametrosService_ListarTalleres_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTalleresResponse" />
  </wsdl:message>
  <wsdl:message name="IParametrosService_ListarTalleres_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" name="detail" element="q3:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="IParametrosService_ObtenerTaller_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTaller" />
  </wsdl:message>
  <wsdl:message name="IParametrosService_ObtenerTaller_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTallerResponse" />
  </wsdl:message>
  <wsdl:message name="IParametrosService_ObtenerTaller_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" name="detail" element="q4:RepetidoException" />
  </wsdl:message>
  <wsdl:portType name="IParametrosService">
    <wsdl:operation name="ListarServicios">
      <wsdl:input wsaw:Action="http://tempuri.org/IParametrosService/ListarServicios" message="tns:IParametrosService_ListarServicios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParametrosService/ListarServiciosResponse" message="tns:IParametrosService_ListarServicios_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IParametrosService/ListarServiciosRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IParametrosService_ListarServicios_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerServicio">
      <wsdl:input wsaw:Action="http://tempuri.org/IParametrosService/ObtenerServicio" message="tns:IParametrosService_ObtenerServicio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParametrosService/ObtenerServicioResponse" message="tns:IParametrosService_ObtenerServicio_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IParametrosService/ObtenerServicioRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IParametrosService_ObtenerServicio_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarTalleres">
      <wsdl:input wsaw:Action="http://tempuri.org/IParametrosService/ListarTalleres" message="tns:IParametrosService_ListarTalleres_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParametrosService/ListarTalleresResponse" message="tns:IParametrosService_ListarTalleres_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IParametrosService/ListarTalleresRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IParametrosService_ListarTalleres_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTaller">
      <wsdl:input wsaw:Action="http://tempuri.org/IParametrosService/ObtenerTaller" message="tns:IParametrosService_ObtenerTaller_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParametrosService/ObtenerTallerResponse" message="tns:IParametrosService_ObtenerTaller_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IParametrosService/ObtenerTallerRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IParametrosService_ObtenerTaller_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IParametrosService" type="tns:IParametrosService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarServicios">
      <soap:operation soapAction="http://tempuri.org/IParametrosService/ListarServicios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerServicio">
      <soap:operation soapAction="http://tempuri.org/IParametrosService/ObtenerServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarTalleres">
      <soap:operation soapAction="http://tempuri.org/IParametrosService/ListarTalleres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTaller">
      <soap:operation soapAction="http://tempuri.org/IParametrosService/ObtenerTaller" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ParametrosService">
    <wsdl:port name="BasicHttpBinding_IParametrosService" binding="tns:BasicHttpBinding_IParametrosService">
      <soap:address location="http://localhost:16005/ParametrosService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>