UPC.SisTictecks/UPC.SisTictecks.TestWS/Service References/VehiculoWS/VehiculoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VehiculoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:16005/VehiculoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:16005/VehiculoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" />
      <xsd:import schemaLocation="http://localhost:16005/VehiculoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVehiculoService_CrearVehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearVehiculo" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_CrearVehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearVehiculoResponse" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_CrearVehiculo_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" name="detail" element="q1:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ObtenerVehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerVehiculo" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ObtenerVehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerVehiculoResponse" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ObtenerVehiculo_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" name="detail" element="q2:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ModificarVehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarVehiculo" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ModificarVehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarVehiculoResponse" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ModificarVehiculo_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" name="detail" element="q3:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_EliminarVehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarVehiculo" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_EliminarVehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarVehiculoResponse" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_EliminarVehiculo_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" name="detail" element="q4:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ListarVehiculos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarVehiculos" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ListarVehiculos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarVehiculosResponse" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ListarVehiculos_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" name="detail" element="q5:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ListarMarcas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarMarcas" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ListarMarcas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarMarcasResponse" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ListarMarcas_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" name="detail" element="q6:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ObtenerMarca_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMarca" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ObtenerMarca_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMarcaResponse" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ObtenerMarca_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" name="detail" element="q7:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ListarModelos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarModelos" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ListarModelos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarModelosResponse" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ListarModelos_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" name="detail" element="q8:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ListarModelosXMarca_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarModelosXMarca" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ListarModelosXMarca_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarModelosXMarcaResponse" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ListarModelosXMarca_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" name="detail" element="q9:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ObtenerModelo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerModelo" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ObtenerModelo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerModeloResponse" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ObtenerModelo_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" name="detail" element="q10:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ListarColores_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarColores" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ListarColores_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarColoresResponse" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ListarColores_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" name="detail" element="q11:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ObtenerColor_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerColor" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ObtenerColor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerColorResponse" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ObtenerColor_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" name="detail" element="q12:RepetidoException" />
  </wsdl:message>
  <wsdl:portType name="IVehiculoService">
    <wsdl:operation name="CrearVehiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehiculoService/CrearVehiculo" message="tns:IVehiculoService_CrearVehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehiculoService/CrearVehiculoResponse" message="tns:IVehiculoService_CrearVehiculo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IVehiculoService/CrearVehiculoRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IVehiculoService_CrearVehiculo_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerVehiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehiculoService/ObtenerVehiculo" message="tns:IVehiculoService_ObtenerVehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehiculoService/ObtenerVehiculoResponse" message="tns:IVehiculoService_ObtenerVehiculo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IVehiculoService/ObtenerVehiculoRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IVehiculoService_ObtenerVehiculo_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarVehiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehiculoService/ModificarVehiculo" message="tns:IVehiculoService_ModificarVehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehiculoService/ModificarVehiculoResponse" message="tns:IVehiculoService_ModificarVehiculo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IVehiculoService/ModificarVehiculoRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IVehiculoService_ModificarVehiculo_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarVehiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehiculoService/EliminarVehiculo" message="tns:IVehiculoService_EliminarVehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehiculoService/EliminarVehiculoResponse" message="tns:IVehiculoService_EliminarVehiculo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IVehiculoService/EliminarVehiculoRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IVehiculoService_EliminarVehiculo_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarVehiculos">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehiculoService/ListarVehiculos" message="tns:IVehiculoService_ListarVehiculos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehiculoService/ListarVehiculosResponse" message="tns:IVehiculoService_ListarVehiculos_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IVehiculoService/ListarVehiculosRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IVehiculoService_ListarVehiculos_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarMarcas">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehiculoService/ListarMarcas" message="tns:IVehiculoService_ListarMarcas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehiculoService/ListarMarcasResponse" message="tns:IVehiculoService_ListarMarcas_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IVehiculoService/ListarMarcasRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IVehiculoService_ListarMarcas_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerMarca">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehiculoService/ObtenerMarca" message="tns:IVehiculoService_ObtenerMarca_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehiculoService/ObtenerMarcaResponse" message="tns:IVehiculoService_ObtenerMarca_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IVehiculoService/ObtenerMarcaRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IVehiculoService_ObtenerMarca_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarModelos">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehiculoService/ListarModelos" message="tns:IVehiculoService_ListarModelos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehiculoService/ListarModelosResponse" message="tns:IVehiculoService_ListarModelos_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IVehiculoService/ListarModelosRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IVehiculoService_ListarModelos_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarModelosXMarca">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehiculoService/ListarModelosXMarca" message="tns:IVehiculoService_ListarModelosXMarca_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehiculoService/ListarModelosXMarcaResponse" message="tns:IVehiculoService_ListarModelosXMarca_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IVehiculoService/ListarModelosXMarcaRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IVehiculoService_ListarModelosXMarca_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerModelo">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehiculoService/ObtenerModelo" message="tns:IVehiculoService_ObtenerModelo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehiculoService/ObtenerModeloResponse" message="tns:IVehiculoService_ObtenerModelo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IVehiculoService/ObtenerModeloRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IVehiculoService_ObtenerModelo_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarColores">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehiculoService/ListarColores" message="tns:IVehiculoService_ListarColores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehiculoService/ListarColoresResponse" message="tns:IVehiculoService_ListarColores_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IVehiculoService/ListarColoresRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IVehiculoService_ListarColores_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerColor">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehiculoService/ObtenerColor" message="tns:IVehiculoService_ObtenerColor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehiculoService/ObtenerColorResponse" message="tns:IVehiculoService_ObtenerColor_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IVehiculoService/ObtenerColorRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IVehiculoService_ObtenerColor_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVehiculoService" type="tns:IVehiculoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearVehiculo">
      <soap:operation soapAction="http://tempuri.org/IVehiculoService/CrearVehiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerVehiculo">
      <soap:operation soapAction="http://tempuri.org/IVehiculoService/ObtenerVehiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ModificarVehiculo">
      <soap:operation soapAction="http://tempuri.org/IVehiculoService/ModificarVehiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EliminarVehiculo">
      <soap:operation soapAction="http://tempuri.org/IVehiculoService/EliminarVehiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarVehiculos">
      <soap:operation soapAction="http://tempuri.org/IVehiculoService/ListarVehiculos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarMarcas">
      <soap:operation soapAction="http://tempuri.org/IVehiculoService/ListarMarcas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerMarca">
      <soap:operation soapAction="http://tempuri.org/IVehiculoService/ObtenerMarca" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarModelos">
      <soap:operation soapAction="http://tempuri.org/IVehiculoService/ListarModelos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarModelosXMarca">
      <soap:operation soapAction="http://tempuri.org/IVehiculoService/ListarModelosXMarca" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerModelo">
      <soap:operation soapAction="http://tempuri.org/IVehiculoService/ObtenerModelo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarColores">
      <soap:operation soapAction="http://tempuri.org/IVehiculoService/ListarColores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerColor">
      <soap:operation soapAction="http://tempuri.org/IVehiculoService/ObtenerColor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VehiculoService">
    <wsdl:port name="BasicHttpBinding_IVehiculoService" binding="tns:BasicHttpBinding_IVehiculoService">
      <soap:address location="http://localhost:16005/VehiculoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>