UPC.SisTictecks/UPC.SisTictecks.Web/Service References/TalleresWS/TallerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTallerEN">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TallerEN" nillable="true" type="tns:TallerEN" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTallerEN" nillable="true" type="tns:ArrayOfTallerEN" />
  <xs:complexType name="TallerEN">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Taller" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TallerEN" nillable="true" type="tns:TallerEN" />
  <xs:complexType name="RepetidoException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RepetidoException" nillable="true" type="tns:RepetidoException" />
</xs:schema>