UPC.SisTictecks/UPC.SisTictecks.Web/Service References/UsuariosWS/UsuariosService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UsuarioEN">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dni" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Perfil" nillable="true" type="tns:PerfilEN" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="login" nillable="true" type="tns:Login" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioEN" nillable="true" type="tns:UsuarioEN" />
  <xs:complexType name="PerfilEN">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PerfilEN" nillable="true" type="tns:PerfilEN" />
  <xs:complexType name="Login">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Login" nillable="true" type="tns:Login" />
  <xs:complexType name="RepetidoException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RepetidoException" nillable="true" type="tns:RepetidoException" />
  <xs:complexType name="ArrayOfUsuarioEN">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsuarioEN" nillable="true" type="tns:UsuarioEN" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarioEN" nillable="true" type="tns:ArrayOfUsuarioEN" />
  <xs:complexType name="ArrayOfPerfilEN">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PerfilEN" nillable="true" type="tns:PerfilEN" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerfilEN" nillable="true" type="tns:ArrayOfPerfilEN" />
</xs:schema>