UPC.SisTictecks/UPC.SisTictecks.Web/Service References/UsuariosWS/Usuarios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UsuariosService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:16005/UsuariosService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:16005/UsuariosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" />
      <xsd:import schemaLocation="http://localhost:16005/UsuariosService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsuariosService_CrearUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_CrearUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_CrearUsuario_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" name="detail" element="q1:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_ObtenerUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_ObtenerUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_ObtenerUsuario_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" name="detail" element="q2:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_ModificarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_ModificarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_ModificarUsuario_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" name="detail" element="q3:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_EliminarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_EliminarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_EliminarUsuario_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" name="detail" element="q4:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_ListarUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuarios" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_ListarUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_ListarUsuarios_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/UPC.SisTictecks.EL" name="detail" element="q5:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_ValidarNombreDeUsuarioExistente_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarNombreDeUsuarioExistente" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_ValidarNombreDeUsuarioExistente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarNombreDeUsuarioExistenteResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_ValidarCorreoExistente_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarCorreoExistente" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_ValidarCorreoExistente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarCorreoExistenteResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_ValidarUsuarioTipoCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuarioTipoCliente" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_ValidarUsuarioTipoCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuarioTipoClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_ObtenerPerfil_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPerfil" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_ObtenerPerfil_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPerfilResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_ListarPerfiles_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPerfiles" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_ListarPerfiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPerfilesResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsuariosService">
    <wsdl:operation name="CrearUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuariosService/CrearUsuario" message="tns:IUsuariosService_CrearUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuariosService/CrearUsuarioResponse" message="tns:IUsuariosService_CrearUsuario_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsuariosService/CrearUsuarioRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IUsuariosService_CrearUsuario_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuariosService/ObtenerUsuario" message="tns:IUsuariosService_ObtenerUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuariosService/ObtenerUsuarioResponse" message="tns:IUsuariosService_ObtenerUsuario_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsuariosService/ObtenerUsuarioRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IUsuariosService_ObtenerUsuario_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuariosService/ModificarUsuario" message="tns:IUsuariosService_ModificarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuariosService/ModificarUsuarioResponse" message="tns:IUsuariosService_ModificarUsuario_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsuariosService/ModificarUsuarioRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IUsuariosService_ModificarUsuario_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuariosService/EliminarUsuario" message="tns:IUsuariosService_EliminarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuariosService/EliminarUsuarioResponse" message="tns:IUsuariosService_EliminarUsuario_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsuariosService/EliminarUsuarioRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IUsuariosService_EliminarUsuario_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuariosService/ListarUsuarios" message="tns:IUsuariosService_ListarUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuariosService/ListarUsuariosResponse" message="tns:IUsuariosService_ListarUsuarios_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsuariosService/ListarUsuariosRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IUsuariosService_ListarUsuarios_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarNombreDeUsuarioExistente">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuariosService/ValidarNombreDeUsuarioExistente" message="tns:IUsuariosService_ValidarNombreDeUsuarioExistente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuariosService/ValidarNombreDeUsuarioExistenteResponse" message="tns:IUsuariosService_ValidarNombreDeUsuarioExistente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarCorreoExistente">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuariosService/ValidarCorreoExistente" message="tns:IUsuariosService_ValidarCorreoExistente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuariosService/ValidarCorreoExistenteResponse" message="tns:IUsuariosService_ValidarCorreoExistente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarUsuarioTipoCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuariosService/ValidarUsuarioTipoCliente" message="tns:IUsuariosService_ValidarUsuarioTipoCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuariosService/ValidarUsuarioTipoClienteResponse" message="tns:IUsuariosService_ValidarUsuarioTipoCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPerfil">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuariosService/ObtenerPerfil" message="tns:IUsuariosService_ObtenerPerfil_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuariosService/ObtenerPerfilResponse" message="tns:IUsuariosService_ObtenerPerfil_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPerfiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuariosService/ListarPerfiles" message="tns:IUsuariosService_ListarPerfiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuariosService/ListarPerfilesResponse" message="tns:IUsuariosService_ListarPerfiles_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsuariosService" type="tns:IUsuariosService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuariosService/CrearUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuariosService/ObtenerUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ModificarUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuariosService/ModificarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuariosService/EliminarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarUsuarios">
      <soap:operation soapAction="http://tempuri.org/IUsuariosService/ListarUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ValidarNombreDeUsuarioExistente">
      <soap:operation soapAction="http://tempuri.org/IUsuariosService/ValidarNombreDeUsuarioExistente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarCorreoExistente">
      <soap:operation soapAction="http://tempuri.org/IUsuariosService/ValidarCorreoExistente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarUsuarioTipoCliente">
      <soap:operation soapAction="http://tempuri.org/IUsuariosService/ValidarUsuarioTipoCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPerfil">
      <soap:operation soapAction="http://tempuri.org/IUsuariosService/ObtenerPerfil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPerfiles">
      <soap:operation soapAction="http://tempuri.org/IUsuariosService/ListarPerfiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsuariosService">
    <wsdl:port name="BasicHttpBinding_IUsuariosService" binding="tns:BasicHttpBinding_IUsuariosService">
      <soap:address location="http://localhost:16005/UsuariosService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>